@import url('https://fonts.cdnfonts.com/css/amazon-ember');


:root {
    /*     --cor: #232f3e;
    --cor2: #0f1111; */
    --cor-bg-menu: #131921;
    --cor-bg-menu-2: #232f3e;
    --cor-bg-footer: #131A22;
    --cinza: #E3E6E6;
    --amarelo: #ffd814;
    --laranja: #f08804;

}

/* -------------------------- TAGS -------------------------- */
body {
    font-family: 'Amazon Ember', sans-serif;
    margin: 0;
}

header {
    margin: 0;
}

main {
    background-color: var(--cinza);
}

footer {
    background-color: var(--cor-bg-footer);
    color: var(--cinza);
    font-size: 0.8rem;
    text-align: center;

    & section {
        padding: 16px;
    }

    & a {
        font-size: 0.8rem;
        color: white;
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
}

select {
    font-family: 'Amazon Ember', sans-serif;
    background-color: var(--cinza);
    padding: 8px;
    max-width: 90px;
}

nav {
    display: flex;

    font-size: 0.9rem;
    justify-content: space-between;


    &>*:hover:not(ul, form) {
        outline: auto;
    }


    & a {
        color: white;
        margin: 0;
        text-decoration: none;
    }

    & ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & li {
        padding: 8px;
        margin: 0;

        &:hover {
            outline: auto;
        }

        &:has(button) {
            padding: 0;
        }

        & button {
            height: 100%;
            padding: 8px;
            border: 0;
            background: none;
            color: white;
        }
    }
}

h2 {
    font-size: 21px;
}

input {
    padding: 8px;
}


form {
    height: fit-content;
    align-self: center;
}

/* -------------------------- IDS -------------------------- */

#logo {
    width: 120px;
}

#barra-pesquisa {
    background-color: white;
    border: 0;
    border-radius: 4px;
    padding: 0;
    margin: 0;

    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    &>* {
        border: 0;
    }

}

#botaoBusca {
    background-color: #FABC6B;

}

#nav-primaria {
    min-width: 1000px;
    background-color: var(--cor-bg-menu);
    color: white;
    margin: 0;
}

#nav-secundaria {
    min-width: 1000px;
    background-color: var(--cor-bg-menu-2);
    color: white;
}


#navContas {
    position: absolute;
    
    width: 300px;

    & div {
        width: fit-content;
    }
}

#navCategorias {
    position: fixed;

    left: 0;
    top: 0;
    overflow-y: hidden;

}

#popPrime {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 300px;

    background-color: white;
    padding: 8px;
}

#hero {
    margin: 0 auto;
    overflow: visible;

}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;


    & img {
        display: block;
        width: 100%;
    }
}

#categorias {

    padding: 8px;
    margin: 8px;
    background-color: white;

    & img {
        width: 200px;

    }
}

#categorias-scroll {
    display: flex;
    height: fit-content;
    overflow-x: scroll;
    gap: 10px;

}

#recomendacoes {
    text-align: center;
    background-color: white;
    padding: 8px;
}

#voltar-inicio {
    background-color: #37475a;

    &:hover {
        background-color: #57708f;

        &>a {
            text-decoration: none;
        }
    }
}

#footer-links {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-bg-menu-2);
    padding: 8px;
    color: white;
    display: flex;
    font-size: 1rem;
    text-align: left;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            padding: 8px;
        }
    }


}

/* -------------------------- CLASS -------------------------- */


.material-symbols-outlined {
    font-size: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 20vw;
    background-color: white;
    padding: 8px;
    gap: 8px;

    &>h2 {
        height: 100%;
        padding: 0;
        margin: 0;
    }
}

.botaoLogin {
    display: inline-block;
    background-color: #ffd814;
    color: black;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 24px;

    &:hover {
        background-color: #f1c900;
    }
}

.menu-item {
    padding: 8px;
    display: flex;
    flex-direction: row;

    justify-content: baseline;

}


.heroInterior {
    position: relative;
    display: inline-block;
    right: 50%;
}

.imgHero {
    position: relative;
    right: -50%;
}

.row {
    display: flex;
    flex-direction: row;
}

.menuEscondido {
    visibility: hidden;
    padding: 8px;
    flex-direction: column;
    background-color: white;
    z-index: 2;


    & a {
        color: black;
    }

    & li {
        padding: 4px 0;
        font-size: 0.8rem;
    }


    & ul {
        flex-direction: column;
        right: 0;
    }



}