@import url('https://fonts.cdnfonts.com/css/amazon-ember');

:root {
    /* Cores mais utilizadas */
    --cor-bg-menu: #131921;
    --cor-bg-menu-2: #232f3e;
    --cor-bg-footer: #131A22;
    --cinza: #E3E6E6;
    --amarelo: #ffd814;
    --laranja: #f08804;

}

/* -------------------------- TAGS -------------------------- */

body {
    font-family: 'Amazon Ember', sans-serif;
    margin: 0;
}

header {
    margin: 0;
}

main {
    background-color: var(--cinza);
}

footer {
    background-color: var(--cor-bg-footer);
    color: var(--cinza);
    font-size: 0.8rem;
    text-align: center;

    & section {
        padding: 16px;
    }

    & a {
        font-size: 0.8rem;
        color: white;
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }
}

nav {
    display: flex;
    justify-content: space-between;

    font-size: 0.9rem;

    &>*:hover:not(ul, form, h2) {
        outline: auto;
    }

    & a {
        color: white;
        margin: 0;
        text-decoration: none;
    }

    & ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & li {
        padding: 8px;
        margin: 0;

        &:hover {
            outline: auto;
        }

        &:has(button) {
            padding: 0;
        }

        & button {
            height: 100%;
            padding: 8px;
            border: 0;
            background: none;
            color: white;
        }
    }
}

h2 {
    font-size: 21px;
}

a {
    color: #2162a1;
    text-decoration: none;

    /*     &:hover {
        color: #f08804;
    } */
}

select {
    font-family: 'Amazon Ember', sans-serif;
    background-color: var(--cinza);
    color: rgb(77, 77, 77);
    padding: 8px;
    max-width: 90px;
}

figure {
    margin: 0;
}

hr {
    border: 1px solid rgb(241, 241, 241);
}

/* -------------------------- IDS -------------------------- */

/* Início navs e menus do header */

#nav-primaria {
    min-width: 1000px;
    height: 60px;
    background-color: var(--cor-bg-menu);
    color: white;

    &>* {
        display: flex;
        cursor: pointer;

    }

    &>div {
        padding: 8px;

        &>div {
            display: flex;
            align-items: flex-end;
        }
    }

    & form {
        background-color: white;
        border: 0;
        border-radius: 4px;
        margin: 8px 0;
        overflow: hidden;

        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

        min-width: 40%;

        &>* {
            border: 0;
        }

        input[type="text"] {
            padding: 8px;
            width: 100%;
            font-size: 0.9rem;
            font-weight: 400;

            &:hover {
                outline: none;
            }

        }

        button {
            background-color: #FABC6B;

        }

    }
}





#nav-secundaria {
    min-width: 1000px;
    background-color: var(--cor-bg-menu-2);
    color: white;

    & li:not(>button) {
        padding: 8px;
    }

    & .itemIcone {
        display: flex;
        align-items: center;

        &>* {
            pointer-events: none;
        }
    }

}


#navContas {
    position: absolute;
    width: 400px;
    border-radius: 2px;

    & div {
        width: fit-content;

        &:hover {
            outline: none;
        }

        &>* {
            margin: 4px;
        }
    }

    h2 {
        font-size: 1rem;
        padding: 0;
    }

    & .submenu {
        display: flex;
        flex-direction: row;

        & div {
            width: 100%;
            padding: 8px;
        }
    }
}

#navCategorias {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
    padding: 0;

    & p {
        background-color: var(--cor-bg-menu-2);
        color: white;
        font-weight: 700;
        font-size: large;
        margin: 0;
        padding: 16px;
    }

    & li {
        padding: 8px 16px 8px 32px;
    }

    &>ul>li {
        font-weight: 700;
        font-size: 1rem;

        &:hover {
            outline: none;
        }
    }

}

#popPrime {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 8px;

    &>img {
        width: 300px;
    }
}

#cepPopUp {
    position: absolute;
    background-color: white;

    width: 300px;
    padding: 8px;
    z-index: 2;

    &>*{
        margin: 4px 8px 0 8px;
     }


    & h2 {
        font-size: 1rem;


    }

    & p {
     font-size: 0.8rem;
     color: gray;
    }

    & form{
        display: flex;
        align-items:center ;
        gap: 4px;
    }
    & input {
        padding: 8px 4px;
        width:80px;
        border-radius: 4px;
        border: 1px solid gray;
    }

    & input:nth-child(2) {
        width: 40px;
    }
}

/* Fim navs e menus do header */


#logo {
    width: 100px;
    padding-top: 8px;
    margin: 8px
}




#cards {

    /* para sobrepor section hero */
    position: relative;
    margin-bottom: 50vh;
    z-index: 1;
    top: 40vh;

}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    & img {
        display: block;
        width: 100%;
    }
}

#categorias {

    padding: 8px;
    margin: 8px;
    background-color: white;

    & img {
        width: 200px;

    }
}

#categorias-scroll {
    display: flex;
    height: fit-content;
    overflow-x: scroll;
    gap: 10px;

}

#recomendacoes {
    text-align: center;
    background-color: white;
    padding: 8px;
}

#voltar-inicio {
    background-color: #37475a;

    &:hover {
        background-color: #57708f;
        text-decoration: none;

    }
}

#footer-links {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-bg-menu-2);
    padding: 8px;
    color: white;
    display: flex;
    font-size: 1rem;
    text-align: left;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            padding: 8px;
        }
    }


}

/* -------------------------- CLASS -------------------------- */


.material-symbols-outlined {
    font-size: 1rem;

}



.grande {
    font-size: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 20vw;
    background-color: white;
    padding: 8px;
    gap: 8px;

    border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;

    &>h2 {
        height: 100%;
        padding: 0;
        margin: 0;
    }
}

.botaoLogin {
    display: inline-block;
    background-color: #ffd814;
    color: black;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 24px;

    &:hover {
        background-color: #f1c900;
    }
}



.menuEscondido {
    visibility: hidden;
    padding: 8px;
    flex-direction: column;
    background-color: white;
    z-index: 2;


    & a {
        color: black;
    }

    & li {
        padding: 4px 0;
        font-size: 0.8rem;
    }


    & ul {
        flex-direction: column;
        right: 0;
    }
}

.imgHero {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
    }

.botoesHero {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    z-index: 2;
}


.botaoSlide {
    background-color: transparent;
    border: 0;
    height: 100%;
    min-width: 32px;
    font-size: 36px;

    &:hover {
        outline: auto;
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@media (max-width: 1080px) {
    .carrinho {
        display: none;
    }
}